/* LoginPage.css */

@keyframes moveFromCenter {
  0% {
    transform: translateY(0) translateX(0) scale(0.5) rotate(var(--initial-rotation));
    opacity: 1;
  }
  100% {
    transform: translateY(var(--final-top)) translateX(var(--final-left)) scale(2) rotate(var(--final-rotation));
    opacity: 0;
  }
}

@keyframes cardShadow {
  0% {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
  50% {
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  }
  100% {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: white; /* Фон страницы белый */
  overflow: hidden;
  position: relative;
}

.line {
  position: absolute;
  width: 1px; /* Уменьшенный начальный размер */
  height: 50px; /* Уменьшенный начальный размер */
  background: rgba(22, 79, 148, 0.7); /* Синий цвет */
  animation: moveFromCenter 5s linear infinite;
}

.dot {
  position: absolute;
  width: 3px; /* Уменьшенный начальный размер */
  height: 3px; /* Уменьшенный начальный размер */
  background: #164f94; /* Основной синий цвет */
  border-radius: 50%;
  animation: moveFromCenter 3s linear infinite;
}

.login-card {
  width: 25rem;
  border-radius: 10px;
  animation: cardShadow 2s ease-in-out infinite;
  background-color: white;
  position: relative;
  z-index: 1;
}

.login-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.login-button {
  width: 100%;
  background-color: #164f94;
  border: none;
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 5px;
  transition: background-color 0.3s;
  color: white;
}

.login-button:hover {
  background-color: #123d7b;
}

.form-control:focus {
  border-color: #164f94;
  box-shadow: 0 0 0 0.2rem rgba(22, 79, 148, 0.25);
}

.form-group {
  position: relative;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.eye-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}