.top-panel-title {
  margin-top: 48px;
  margin-left: 48px;
  font-family: "Roboto";
  font-size: 24px;
  /* width: 200px; */
  line-height: 28px;
  font-weight: 700;
}

.top-panel-profpic {
  /* width: 40px; */
  /* height: 40px; */
  /* border-radius: 100%; */
  margin-left: 24px;
  object-fit: cover;
}

.top-panel-mp-link {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0px;
  margin-top: 0px;
  /* width: 82px; */
  height: 18px;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  color: black;
}

.top-panel-mp-more {
  margin-left: 18px;
}

.top-panel-content {
  display: flex;
  /* justify-content: end; */
}

.top-panel-controls {
  display: flex;
  margin-top: 48px;
  height: fit-content;
  width: fit-content;
  align-items: center;
  /* margin-left: 756px; */
  margin-left: auto;
  margin-right: 30px;
  /* justify-self: flex-end; */
  /* justify-self: end; */
  /* flex-direction: row; */
}

.top-panel-functions {
  display: flex;
  margin-left: 48px;
  width: 716px;
  border-bottom: 2px #f0f0f0 solid;
}

.top-panel-function {
  display: flex;
  height: fit-content;
  /* align-items: center; */
  margin-right: 16px;
}

.top-panel-function-text {
  margin-left: 12px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.top-panel-functions-underline {
  height: 2px;
  color: #f0f0f0;
}
